BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
SpaceBeforeParens: Always
SpacesInParentheses: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
SpacesBeforeTrailingComments: 1
AlignOperands: true
